.cover {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  align-items: center;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-color: #000;
  background-image: url('./assets/back.jpg');

  &::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-image: radial-gradient(circle, #eeaeca47 0%, #94bbe99c 100%)
  }

  .wrap {
    position: relative;
    z-index: 1;
  }

  .header {
    padding: 24px 0;
    color: #673ab7;
    font-size: 68px;
    letter-spacing: 1px;
  }

  svg {
    width: 100px;
    height: 100px;

    g {
      fill: white;
    }
  }

  .decr {
    padding: 16px 0 32px;
    color: #673ab7;
    font-size: 20px;
    line-height: 1.6;
  }
}